@font-face {font-family: "SultanNahiaW20"; src: url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.eot"); src: url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.woff") format("woff"), url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9343496bb158886797785c1dfe92365f.svg#SultanNahiaW20") format("svg"); }

*{
  margin:0;
  padding:0;  
  font-family: SultanNahiaW20;
}
.imgLogoCabecalho{
  width: 15vw;
  height: 10vh;
  padding: 10px;
}
header{
  background-color: #FFFCEF;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
/*---------Configuração Menu cabeçalho--------*/
nav{
  display: flex;  
  margin-top: 20px;
}
nav > p{  
  cursor: pointer;
  color: #a3a09d;  
  padding: 10px;
  margin: 10px;
  font-size:1.5em;
}
nav > p:hover{
  background-color: #44A6A4;
  color: #FFFCEF;
  border-radius: 10px;
  transition: 0.2s;
}
/*--------Configuração Rodapé-------------------*/
footer{
  background-color:#FFFCEF;
  height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;  
  padding-top: 10px;
  color: #a3a090;
}
footer > div > p{
  color:#a3a090;
  font-size: 1.5em;
}
footer > div > a{  
  margin: 0 10px;  
}

.tamanho-icone{
  width: 20px;    
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

/*--------Componente Home-----------------------*/
section{
    background: rgba(38,45,100,0.4);    
    width: 100%;   
    height: 95vh;        
    text-align: center; 
}
section > div > h1{
  color: #FFFCEF;
  font-size:8em;
  padding-top: 10px;
}
section > div > h2{
  font-size: 10em;
  color: #FFFCEF;
}
section > div > button{
  background-color: #449694;
  border: none;
  border-radius: 10px;
  margin: 40px 80px;
  cursor: pointer;
  font-size: 1.5em;
  color: #FFFCEF;
  width: 15vw;
  height: 8vh;
}
section > div > button:hover{
  background-color: #44A6A4;
  color: #FFECEF;  
}
.tituloVerde{
  color:#449694;
}
#container{
  background-image: url(img/fundo3.jpg);
  width: 100vw;
  height: 95vh;
}