#DivInputCadastro {
    display: flex;
    flex-direction: column;
    margin-top:45px;
    margin-bottom:45px;
    color:#a3a09d;
}
#DivButtonCadastro{
    display: flex;    
}
#divInputImagens{
    margin: 0 auto;
}
.margemTituloImagens{
    margin-left:13px ;
}
.flexNomeDescricao{
    display: flex;
    flex-direction: column;    
    margin: 0 auto;
}
.flexPagamentoPreco{
    display: flex; 
    flex-direction: column;                 
    margin: 0 auto;
}
.flexLabelPagamentoPreco{
    display: flex;
    justify-content: flex-start;            
    margin: 0 13px;
}
.inputDadosProduto{
    margin: 10px 13px;
    width: 9vw;
    height: 3vh;        
}
.inputNomeDescricao{
    margin: 5px auto;    
    height: 3vh;
    width: 20vw;
}
.botaoEnviarCadastro{
    background-color: #449694;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.5em;
    color: #FFFCEF;
    width: 15vw;
    height: 8vh;
}
button:hover.botaoEnviarCadastro{
    background-color: #44A6A4;
    color: #FFECEF;
}
.margemLabelPreco{
    margin-left: 35px;
}
.margemLabelParcela{
    margin-left: 100px;
}
